body{
    margin: 0px;
    width: 100%;
}
header{
    height: 80px;
    width: 100%;
    background-color: #f9e2c8;
    border-bottom: 5px solid #e4b48c;
    display: flex;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 25px;
}

header img {
    height: 60px;
    width: auto;
    margin-bottom: 0;
    margin-right: 10px;
}

.indexNavigation {
    justify-content: center;
    height: 40px;
    background-color: #fff3e0;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid #e4b48c;
}
 a {
    text-decoration: none;
    align-items: center;
    display: flex;
    height: 32px;
    width: fit-content;
    border-radius:10px; 
    padding-left: 10px;
    padding-right: 10px;
    color: brown;
    background-color: #f28c8c;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #efb48c;
}
.indexNavigation seperator{
    padding: 5px;
    color: brown;
}
main a{
    color: white;
    margin-bottom: 70px;
    padding: 15px,15px,8px,8px;
    margin-top: 15px;
}
main{
    display: flex;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

main input[type="text"],input[type="password"] {
    background-color: #fff8ee;
    margin: 15px;
}

main input[type="button"]{
    width: 60px;
    text-align: center;
    color: white;
    box-shadow: none;
    border: 0px;
    background-color: #f28c8c;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
}
.indexMain div{
    max-width: 1100px;
    background-color: #fff8ee;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 40px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}
main h1{
    text-align: center;
}
main ul{
  margin-left: 60px; 
}

footer{
    height: 60px;
    background-color: #f9e2c8;
    align-content: center;
    text-align: center;
    padding: 15px;
    border-top: 3px solid #e4b48c;
}